*{
	padding: 0px;
	margin:0px;
}
/*header*/
header{
	background:url("../img/bac.jpg");
	background-repeat:no-repeat;
	
	background-position:center;
	
	width: 100%;
	height: 440px;
}
.nav-container{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0px;
	/*background: rgba(255,255,255,0.5);*/
}
a{

	text-decoration: none;
	color: #fff;
	line-height: 60px;
	display: block;
	padding: 0px 20px;
	font-size: 1.1em;
}
a:hover{
	color: #bfbfbf;
}

li{
	list-style:none;
}

.left-ul li{
	margin-left: 15px;
	float: left;
	height: 60px;

}

.right-ul li{
	margin-right: 15px;
	float: right;
	height: 60px;

}

.search{
	height: 60px;
	width: 300px;
	position: relative;
	float: right;
}
.search-input{

	margin-top: 13px;
	margin-left: 5px;
	height: 35px;
	width: 250px;
	
	background: transparent;
	border:none;
	color: #fff;
	font-size: 0.9em;
}
.search-input:focus{
	outline:none;
}
.magnifying-glass{
	margin-top: 3px;
	font-size: 2em; /* This controls the size. */
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border: 0.08em solid #fff;
	position: relative;
	border-radius: 0.35em;
}
.magnifying-glass::before{
	content: "";
	display: inline-block;
	position: absolute;
	right: -0.25em;
	bottom: -0.1em;
	border-width: 0;
	background: #fff;
	width: 0.35em;
	height: 0.08em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.magnifying-glass:hover{

	border: 0.08em solid #bfbfbf;

}
.magnifying-glass:hover::before{

	background: #bfbfbf;

}

.line{
	width:287px;
	height: 1px; 
	background: #fff;
	position: absolute;
	top:48px;
}
.author{
	width: 100%;
	position: absolute;
	top:150px;	
	text-align: center;
	
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 4.0em;
	color: #fff;
}
/*section*/
section{
	width: 100%;
	height: 2000px;
	clear: both;
}
.artical-container{
	width: 100%;
	background: #fff;
}
.artical{
	width: 100%;
	max-height: 250px;
}
.artical h1{
	max-width: 100%;
	padding-left: 20%;
	margin-top: 50px;
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 1.8em;
	color: #404040;
}
.artical h2{
	max-width: 100%;
	padding-left: 21%;
	padding-top: 15px;
	font-weight: normal;
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 1.0em;
	color: #404040;
}
.artical h3{
	max-width: 100%;
	padding-left: 21%;
	padding-top: 15px;
	font-weight: normal;
	font-style: italic;
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 1.0em;
	color: #a4a4a4;
}
.artical h4{
	max-width: 100%;
	padding-left: 21%;
	padding-top: 15px;
	font-weight: normal;
	font-style: italic;
	font-family: Lora,'Times New Roman',serif;
	font-size: 1.2em;
	color: #828282;
}
.artical h1:hover{
	color: #0085a1;
}
.artical-line{
	height: 1px;
	background: #828282;
	width: 80%;
	margin-top: 40px;
	margin-left: 20%;
}