html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    font-family: "Microsoft Yahei";
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix:after {
    display: block;
    content: "clear";
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.nav-container {
    width: 100%;
    height: 6rem;
    background: green;
}

.nav-left-container {
    float: left;
}

.nav-right-container {
    float: right;
}

.province-container {
    max-width: 50rem;
    max-height: 60rem;
    border: 1px solid #eee;
    background: #F7F7F7;    
}

.province {
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.province:hover .city-container {
    display: block;
    position: absolute;
    
    top: 2rem;
    z-index: 5;
}

.city-container {
    display: none;
    width: 50rem;    
    border: 1px solid #eee;
    background: #F7F7F7;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.city {
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
}
