* {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
a{
 cursor: pointer;
}

/*header*/

header {
  width: 100%;
  height: 70px;
}

.nav-container {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  /*background: rgba(255,255,255,0.5);*/
}

a {
  text-decoration: none;
  color: #000;
  line-height: 60px;
  
  font-size: 1.1em;
}

li a {
  padding: 0px 20px;
}

li {
  list-style: none;
}
#navbar{
  overflow: hidden;
}
.left {
  margin-left: 15px;
  float: left;
  height: 60px;
}

.left:hover,#addlink:hover,#menu li:hover {
  background: #eeeeee;
}

.right {
  margin-right: 30px;
  float: right;
  height: 60px;

}

.search {

  height: 40px;
  border-radius: 30px;
  margin: 10px 30px;
  width: 300px;
  background: #eeeeee;
}

.search-input {
  margin-left: 15px;
  height: 40px;
  width: 250px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1.1em;
}

.search-input:focus {
  outline: none;
}

.searchicon {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}


#headlink{
  width: 40px;
  height: 60px;
  padding: 0px;
}
#headpic{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
#menulink{

}
#menulink:hover ul{
  display: block;
}
#menu{

  width: 180px;
  height: 200;
  box-shadow:0 0 10px rgba(0, 0, 0, .2);  
  display: none;
  position: absolute;

}
#menu li{
  width: 180px;
  height: 50px;
  border-top: 1px solid #eee;
  
}
#menu li a{

  padding: 0px;
  margin: 0px;
  width: 180px;
  height: 50px;
  font-size: 0.9em;
  line-height: 50px;
}
#menu li a img{
  padding: 0 15px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
}
.line {

  width: 100%;
  height: 1px;
  background: #eeeeee;
}


/*section*/


#artical-container {

  background: #fff;
}

.artical {
  margin-left: 20%;
  width: 60%;

}

.artical h1 {
 word-break: keep-all;/*单词内不换行*/
 white-space:nowrap; /*不换行*/
 /*-webkit-line-clamp:2;设置为2行*/
 overflow: hidden;/*多余字显示省略号*/
 text-overflow: ellipsis;/*多余字显示省略号*/
 margin-top: 50px;
 
 font-size: 1.4em;
 color: #404040;
}

.artical h2 {
 word-break: keep-all;/*单词内不换行*/
 white-space:nowrap; /*不换行*/
 /*-webkit-line-clamp:2;设置为2行*/
 overflow: hidden;/*多余字显示省略号*/
 text-overflow: ellipsis;/*多余字显示省略号*/
 margin-top: 15px;
 font-weight: normal;
 
 font-size: 1.1em;
 color: #404040;
}

.artical h3 {

  padding-top: 15px;
  font-weight: normal;
  font-style: italic;
  
  font-size: 1.0em;
  color: #a4a4a4;
}

.artical h4 {

  padding-top: 20px;
  font-weight: normal;
  font-style: italic;
  
  font-size: 1.2em;
  color: #828282;
}

.artical h1:hover {
  color: #0085a1;
}

.artical-line {
  height: 1px;
  background: #828282;
  width: 100%;
  margin-top: 20px;

}
