    * {
      padding: 0px;
      margin: 0px;
      font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    }
    a{
     cursor: pointer;
   }

   /*header*/

   header {
    width: 100%;
    height: 70px;
  }

  .nav-container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    /*background: rgba(255,255,255,0.5);*/
  }

  a {
    text-decoration: none;
    color: #000;
    line-height: 60px;

    font-size: 1.1em;
  }

  li a {
    padding: 0px 20px;
  }

  li {
    list-style: none;
  }
  #navbar{
    overflow: hidden;
  }
  .left {
    margin-left: 15px;
    float: left;
    height: 60px;
  }

  .left:hover,#addlink:hover,#menu li:hover {
    background: #eeeeee;
  }

  .right {
    margin-right: 30px;
    float: right;
    height: 60px;

  }

  .search {

    height: 40px;
    border-radius: 30px;
    margin: 10px 30px;
    width: 300px;
    background: #eeeeee;
  }

  .search-input {
    margin-left: 15px;
    height: 40px;
    width: 250px;
    background: transparent;
    border: none;
    color: #000;
    font-size: 1.1em;
  }

  .search-input:focus {
    outline: none;
  }

  .searchicon {
    vertical-align: middle;
    height: 20px;
    width: 20px;
  }


  #headlink{
    width: 40px;
    height: 60px;
    padding: 0px;
  }
  #headpic{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  #menulink{

  }
  #menulink:hover ul{
    display: block;
  }
  #menu{

    width: 180px;
    height: 200;
    box-shadow:0 0 10px rgba(0, 0, 0, .2);  
    display: none;
    position: absolute;

  }
  #menu li{
    width: 180px;
    height: 50px;
    border-top: 1px solid #eee;

  }
  #menu li a{

    padding: 0px;
    margin: 0px;
    width: 180px;
    height: 50px;
    font-size: 0.9em;
    line-height: 50px;
  }
  img{
    vertical-align: middle;
  }
  #menu li a img{
    padding: 0 15px;
    
    width: 23px;
    height: 23px;
  }
  .line {

    width: 100%;
    height: 1px;
    background: #eeeeee;
  }


  /*section*/


  #artical-container {

    background: #fff;
  }

  .artical {
    margin-left: 30%;
    width: 40%;

  }
  .artical h1 {
    word-break: keep-all;/*单词内不换行*/
    white-space:nowrap; /*不换行*/
    /*-webkit-line-clamp:2;设置为2行*/
    overflow: hidden;/*多余字显示省略号*/
    text-overflow: ellipsis;/*多余字显示省略号*/
    margin-top: 50px;
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 1.4em;
    color: #404040;
  }

  h1{
    text-align: center;
  }
  #contents{
    margin: 80px 0px;
  }
  .sidebar{
    width: 50px;
    height: 153px;
    position: fixed;
    right: 60px;
    bottom: 60px;
    border-bottom:1px solid #BBBBBB;
    border-left:1px solid #BBBBBB;
    border-right:1px solid #BBBBBB;
  }
  .sidebar div{
    width: 50px;
    height: 50px;
    text-align: center;

    border-top:1px solid #BBBBBB;
  }
  .sidebar div img{
    width: 25px;
    height: 25px;
    margin-top:12px;
  }
  .newcomment-container{
    text-align: left;
    width: 100%;
    margin:auto;
    height: 150px;
  }

  .head-a{
    width: 40px;
    height: 40px;
  }
  .head-a img{
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
  }
  .newcomment-container a{
    position: absolute;
    margin-left: -45px;
  }
  .newcomment-container a img{
    vertical-align: top;
  }
  .comment-input{
    padding: 5px;
    height: 70px;
    width: 100%;
    border:1px solid #BBBBBB;
    border-radius:5px;
  }
  .comment-input:focus{
    outline: none;
  }
  #btn_sentcomment ,.btn_sentcomment{
    width: 70px;
    height: 38px;
    background: #42c02e;
    color: aliceblue;
    font-size: 1.0em;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  h2 {

   margin-bottom: 15px;
   font-weight: normal;
   font-size: 1.1em;
   color: #404040;
 }
 .btn_reply{
  width: 100px;
  height: 200px;
  cursor: pointer;
}
.btn_reply:hover span{
  color: #000;
}

.btn_reply img{
  padding: 5px;
  width: 20px;
  height: 20px;
}
.btn_reply span{
  vertical-align: middle;
  font-size: 0.9em;
  color: #868686;
  
}
.btn_reply2{
  width: 100px;
  height: 200px;
}
.btn_reply2:hover span{
  color: #000;
}

.btn_reply2 img{
  padding: 5px;
  width: 17px;
  height: 17px;
}
.btn_reply2 span,.comment_2 li div span{
  vertical-align: middle;
  font-size: 0.8em;
  color: #868686;
}
.comment{
  margin: 10px 2px;
}

.comment_1{
  margin: 18px 0px;
}
.comment_2{
  
  margin: 20px 0px;
  padding: 10px 20px;
  border-left: 2px solid #d9d9d9;

}
.comment_2 a{
  padding: 0px 0px;
  color: #3194d0;
}
li .btn_reply2{
  padding: 1px 0px;
  cursor: pointer;
}
.btn_showcomment{
  margin-left: 10px;
  padding: 0px 10px;
  border-left: 1px solid #d9d9d9;
  color: #3194d0;
  cursor: pointer;
}


